body {
	font-family:arial;
}

select, label {
	display:block;
}

tr:hover {
	cursor:pointer;
}

td {
	padding:5px;
	font-size:18px;
	font-weight:bold;
}

td.goals {
	color:white;
	background:black;
}

td.team {
	background:gray;
	width:200px;
}

td.team.home {
	text-align:right;
}

section#ticker {
	width:460px;
}

section#ticker p {
	width:100%;
	overflow:hidden;
}

section#ticker span {
	width:25%;
	display:block;
	float:left;
}

section#ticker span.event {
	font-weight:bold;
}
section#ticker span.player {
	width:50%;
}