select, label {
	display:block;
}

.container .jumbotron {background-color:#d6e9c6;}
.row {margin:0;}

.main .row, .fixture {
	padding:5px;	
	font-size:18px;
	border-radius:5px;
}

.main .row:nth-child(odd) {
	background-color:#d6e9c6;
}

.fixture .team.home,
.fixture .goals.homeGoals {
	text-align:right;
}

#twitterdata .panel:nth-child(odd) {
	background-color:gray;
}

section#ticker p {
	width:100%;
	overflow:hidden;
}

section#ticker span {
	width:25%;
	display:block;
	float:left;
}

section#ticker span.event {
	font-weight:bold;
}
section#ticker span.player {
	width:50%;
}